@import "tailwindcss";
@import "@fontsource/lato";
@import "@fontsource/poppins";
@plugin "daisyui" {
  themes: all;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --font-lato: "Lato", sans-serif;
}
