@import "tailwindcss";
@import "@fontsource/lato";
@plugin "daisyui";

body {
    background-color: #323437;
    color: #cfcfcf;
}

@theme {
    --color-background: #323437;
    --color-text: #cfcfcf;
    --color-background-light: #3b3b3b;

    --font-quote: "Lato";
}
